set scrolloff=5
set clipboard+=unnamed
set incsearch
set laststatus=2
set showmode
set ideajoin
set ideastatusicon=gray

" Plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

" =============== gradle ===============
map <leader>ge <Action>(Gradle.ExecuteTask)

" =============== goto ===============
nnoremap gm :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gI :action QuickImplementations<CR>

" =============== tabs ===============
nmap <S-Tab> <Action>(PreviousTab)
nmap <Tab> <Action>(NextTab)

nmap <leader>v :vsplit<CR>
nmap <leader>h :split<CR>
nmap <M-i> <Action>(PrevSplitter)
nmap <M-o> <Action>(NextSplitter)

" =============== line movement ===============
nnoremap H ^
vnoremap H ^
nnoremap L $
vnoremap L $
nnoremap J }
vnoremap J }
nnoremap K {
vnoremap K {

" move lines up and down
" vnoremap K :m '<-2<CR>gv=gv
vnoremap <C-k> :action MoveStatementUp<CR>

" nnoremap K :m .-2<CR>==
nnoremap <C-k> :action MoveLineUp<CR>

" nnoremap J :m .+1<CR>==
nnoremap <C-j> :action MoveLineDown<CR>

" vnoremap J :m '>+1<CR>gv=gv
vnoremap <C-j> :action MoveStatementDown<CR>

" =============== errors ===============
noremap <leader>e :action GotoNextError<CR>
noremap <leader>E :action GotoPreviousError<CR>

" nnoremap K :m .-2<CR>==
nnoremap K :action MoveLineUp<CR>

" nnoremap J :m .+1<CR>==
nnoremap J :action MoveLineDown<CR>

" vnoremap J :m '>+1<CR>gv=gv
vnoremap J :action MoveStatementDown<CR>

" =============== errors ===============
noremap <leader>e :action GotoNextError<CR>
noremap <leader>E :action GotoPreviousError<CR>
" shows error message popup
nnoremap gh :action ShowErrorDescription<CR>

" =============== code actions ===============
" rename element
nnoremap <leader>re :action RenameElement<CR>

" reformat code
noremap <leader>cr :action ReformatCode<CR>

" optimize imports
noremap <leader>co :action OptimizeImports<CR>

" reformat & optimize
noremap <leader>ca :action ReformatCode<CR> :action OptimizeImports<CR>

" rename
nnoremap <Leader>re :action RenameElement<CR>

" Easier indentation
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

" surround with
vnoremap <Leader>sw :action SurroundWith<CR>
nnoremap <Leader>sw :action SurroundWith<CR>

" find
nnoremap / :action Find<CR>

" select all
nmap <leader>a ggVG

" =============== terminal ===============
noremap <leader>t :action ActivateTerminalToolWindow<CR>

" =============== buffer ===============
nmap <leader>xx <Action>(CloseContent)
nmap <leader>xa <Action>(CloseAllEditors)
nmap <leader>xo <Action>(CloseAllEditorsButActive)
nmap <leader>xp <Action>(CloseAllUnpinnedEditors)
nmap <leader>p <Action>(PinActiveEditorTab)

" =============== others ===============
" exists insert mode with JJ
inoremap jj <ESC>:set rnu<CR>

" removes search highlight
nnoremap <Space> :noh<CR>

" menu
nmap <leader>mc <Action>(CodeMenu)
nmap <leader>mf <Action>(FindMenuGroup)
nmap <leader>mw <Action>(ToolWindowsGroup)
nmap <leader>k <Action>(QuickJavaDoc)

" =============== arrows ===============
nnoremap <Down> <Nop>
nnoremap <Left> <Nop>
nnoremap <Right> <Nop>
nnoremap <Up> <Nop>

vnoremap <Down> <Nop>
vnoremap <Left> <Nop>
vnoremap <Right> <Nop>
vnoremap <Up> <Nop>

" ========== NERDTree (file explorer)
" press `q` to close
map <leader>f :NERDTree<CR>
