[user]
  email =
  name =
[core]
  autocrlf = false
  eol = lf

[color]
  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[branch]
  # Show most recently changed branches first.
  sort = -committerdate

[alias]
  # View abbreviated SHA, description, and history graph of the latest 20 commits.
  l = log --pretty=oneline -n 20 --graph --abbrev-commit

  # View the current working tree status using the short format.
  s = status -s

  # View the current working tree status.
  st = status

  # Show the diff between the latest commit and the current state.
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

  # List contributors with number of commits.
  contributors = shortlog --summary --numbered

  # Checkout to given branch name.
  co = checkout

  # Create a new branch with the given name and then checkout to it.
  cob = checkout -b

  # Remove text in a given file from git history (!CAUTION!)
  # Usage: git rfh <text_to_remove> <text_to_replace> <path/to/file>
  rfh ="!f() { git filter-branch --tree-filter 'sed -i s/\"$1\"/\"$2\"/ -- \"$3\"'}; f"

  # Amend to last commit without change the commit message
  amend = commit --amend --no-edit
