alias pi='ssh rafavigo@192.168.0.52'
alias zero='ssh rafavigo@192.168.0.100'

#some aliases
alias ls='ls -h --group-directories-first --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ll='ls -halFSr'
alias la='ls -A'
alias l='ls -CF'
